@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Ultra');
@import url('https://fonts.googleapis.com/css?family=Damion|Muli|Noto+Sans+KR');
@import url('../../../node_modules/buefy/dist/buefy.css');
@import url('https://fonts.googleapis.com/css?family=Overpass:400,800');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.requestBoxDate .vdp-datepicker__calendar {
    width: 100%;
}

.container-style{
max-width: 980px;
margin: 0 auto;
padding: 0 20px;
}

.el-badge__content{
    left: 8px;
    position: absolute;
    bottom: 0px;
}

.el-input-number__decrease.is-disabled, .el-input-number__increase.is-disabled,.el-input-number__increase
.el-input-number--small .el-input-number__decrease, .el-input-number--small .el-input-number__increase,
.el-input-number--small .el-input-number__decrease, .el-input-number--small .el-input-number__increase,
.el-input-number__decrease{
    background-color: #88c888;
    border-radius: 50%;
    color: white;
    font-size: 1em;
    border: none;
    border: white;
}






.el-icon-minus:before{
    color: white;
}

.el-input--small .el-input__inner {
    height: 32px;
    line-height: 32px;
    border: none;
    font-size: 20px;
    background: none;
}