@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Ultra');
@import url('https://fonts.googleapis.com/css?family=Damion|Muli|Noto+Sans+KR');
@import url('../../../node_modules/buefy/dist/buefy.css');
@import url('https://fonts.googleapis.com/css?family=Overpass:400,800');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.requestBoxDate .vdp-datepicker__calendar {
    width: 100%;
}

.container-style{
max-width: 980px;
margin: 0 auto;
padding: 0 20px;
}

.el-badge__content{
    left: 8px;
    position: absolute;
    bottom: 0px;
}